<div id="<%= dom_id goal %>">
  <p>
    <strong>Title:</strong>
    <%= goal.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= goal.description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= goal.deadline %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= goal.complete %>
  </p>

  <p>
    <strong>User:</strong>
    <%= goal.user.username %>
  </p>

</div>
